# Core functionality - changes here should be rare!
/src/app.py                   @Bitshank-2338
/src/backend/database.py      @Bitshank-2338
/src/backend/routers/auth.py  @Bitshank-2338

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Bitshank-2338
